* {
  Font-family: Dejavu Sans, Arial, Verdana, sans-serif,

}
body{
    background-color: #f1f1f1;

}
#map * {
  overflow:visible;
}
.order-countries {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
}
#main-heading {
  text-align: center;
}
.each-country {
  margin: 20px;
  display: flex;
  flex-direction: column;
  width: 350px;
  height: 300px;
  padding: 16px;
  text-align: center;
  background-color: #f1f1f1;
 background: #e0e0e0;
 box-shadow: 10px 10px 10px #bebebe,
               -20px -20px 20px #ffffff;
}
.each-country:hover{
  transform: scale(1.025); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  transition: 300ms;
  cursor: pointer;

}
#search-div {
  text-align: center;
}

ul {
  list-style-type: none;
}
.pagination{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;

}
.pagination button{
  margin: 3px;
  margin-bottom: 80px;
  margin-top: 20px;
}
.align-text{
  text-align: center;
}

img{
  border-radius: 3px;
  margin-right: 30px;
  height: 120px;
  width: 200px;
}
a{
  margin: 20px;
text-decoration: none;
color: black;
}

li{
  list-style-type: none;
}
.single-country{
  display: flex;
  flex-direction: column;
  text-align: center;
}

.pagination {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}
.pagination button{
  color: navy;
  background-color: white;
}
.pagination button:hover{
  transform: scale(1.25); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  cursor: pointer;
}
#centre-div{
  margin-left: 35px;
  display: flex;
  justify-content: center;
}
.sorting-continent{
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  margin-right: 10px;
}
.selecting-continent{
  margin-bottom: 20px;
  margin-left: 0px;
}
label{
  margin: 20px;
}
h1{
  font-weight: 900;
  margin: 50px;
}
.single-flag{
  height: 200px;
  width: 300px;
  margin: 20px;
}
.single-country li{
  margin: 10px;
}
.single-country a:hover {
  text-decoration: underline;
}
.single-country a{
  color: blue;
}
.NavBar{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}
select{
  margin-top: 10px;
  width: 200px;
  height: 40px;
  border: none;
  outline: none;
  border-radius: 30px;
  padding-left: 15px;
  letter-spacing: 0.8px;
  color: rgb(19, 19, 19);
  font-size: 13.4px;
  background-color: white;
}

.align-text{
  text-align: center;
}
.InputContainer {
  margin-bottom: 20px;
  width: 210px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to bottom,rgb(227, 213, 255),rgb(255, 231, 231));
  border-radius: 30px;
  overflow: hidden;
  cursor: pointer;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.075);
  margin-left: 50%;
}

.search-input {
  width: 200px;
  height: 40px;
  border: none;
  outline: none;
  caret-color: rgb(255, 81, 0);
  background-color: rgb(255, 255, 255);
  border-radius: 30px;
  padding-left: 15px;
  letter-spacing: 0.8px;
  color: rgb(19, 19, 19);
  font-size: 13.4px;
  background-color: #f1f1f1;
}

.back-button {
  padding: 15px 25px;
  border: unset;
  border-radius: 15px;
  color: #212121;
  z-index: 1;
  background: #e8e8e8;
  position: relative;
  font-weight: 800px;
  font-size: 14px;
  -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
  box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
  transition: all 250ms;
  overflow: hidden;
 }
 
 .back-button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  border-radius: 15px;
  background-color: #212121;
  z-index: -1;
  -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
  box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
  transition: all 250ms
 }
 
 .back-button:hover {
  color: #e8e8e8;
 }
 
 .back-button:hover::before {
  width: 100%;
 }
 .order-countries li{
  margin-bottom: 5px;
 }
 option{
  width: 200px;
  height: 40px;
  border: none;
  outline: none;
  border-radius: 30px;
  padding-left: 15px;
  letter-spacing: 0.8px;
  color: rgb(19, 19, 19);
  font-size: 13.4px;
  background-color: white;
 }