.order-countries {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  text-align: center;
  width: 90%;
}
#main-heading {
  text-align: center;
}
.each-country {
  margin: 20px;
}
#search-div {
  text-align: center;
}

ul {
  list-style-type: none;
}
.pagination{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

}
.pagination button{
  margin: 3px;
}
